.input{
    display: flex;
}
.container{
   display: flex;
}

.inputContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    position: relative;
}

.inputContainer>input{
    padding-left: 45px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #eaedf1;
    position: relative;
    z-index: 2;
}

.inputContainer>button{
    appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.images{
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.inputContainer>button:disabled {
  cursor: default;
}

.inputContainer>button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.Search{
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 3;
}

.location{
    position: absolute;
    top: 5px;
    right: 125px;
    z-index: 3;
    background-color: white;
    border-radius: 100%;
}

.user{
    padding-left: 40px;
    gap: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder{
    font-size: 18px;
    color: #A3C2FF;
}